/* variáveis */
:root {
    --yellow: #F5E400;
    --blue: #00C2E3;
    --darkBlue: #006FDB;
    --green: #38E169;
}

/* Block scroll horizontal */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#container {
    background-image: linear-gradient(to top, #b6f3ff,var(--blue) 40%);
    background-attachment: scroll;
    height: 100%;
}

p {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 130%;
    color: white;
} h1,h4 {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    color: white;
    text-shadow: 0px 3px 5px #585858;
}

/* #btnManagement {
    width: 25%;
    height: 10em;
    background-color: black;
    opacity: 90%;
} #divImgBtn {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 80%;
} #divImgBtn img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
} */

#navTabs {
    width: 100%;
} #navTabs ul {
    border: none;
} #navTabs ul li a{
    padding: 0%;
    color: white;
    background-color: var(--yellow);
    border-radius: 35px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} #navTabs ul li a p{
    text-shadow: 0px 3px 5px #585858;
} #navTabs ul li a img {
    filter: drop-shadow(0px 7px 5px #afa400);
    width: 40%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} #navTabs ul li a:active {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(0.95);
} #navTabs ul li a img, #navTabs ul li a p {
    position: relative;
    top: 0.5em;
}

#imgQuizzes {
    position: relative;
    top: 14px;
} #imgQuizzesCamera {
    position: relative;
    /* right: 30%;
    top: 20px; */
} #imgQuiz {
    border-radius: 20px;
}

#users, #quizzes {
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 35px;
    border: 3px solid white;
} #colRight {
    border-left: 1.5px solid white;
} #createQuiz {
    border-top: 1.5px solid white;
} #titleCreateQuiz {
    font-size: 40px;
}

#txtUsernameSearch, #userTypeSearch, #txtQuizSearch {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 105%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    filter: drop-shadow(3px 6px 3px #5bb2c2);
    border: none;
    outline: none;
    color: #757575;
} #txtQuizDescription {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 105%;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    filter: drop-shadow(3px 6px 3px #5bb2c2);
    border: none;
    outline: none;
    color: #757575;
} #txtQuizName {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 105%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    filter: drop-shadow(3px 6px 3px #5bb2c2);
    border: none;
    outline: none;
    color: #757575;
} #txtUsernameEdit, #txtPasswordEdit, #txtPasswordEditConfirm  {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 105%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    filter: drop-shadow(3px 6px 3px #5bb2c2);
    border: none;
    outline: none;
    color: #757575;
} #btnSearch, #btnQuizSearch {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
} #btnSearch, #btnUpdate, #btnAdmin, #btnQuizSearch, #btnCreateNewQuiz, #btnAddQuestion {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 120%;
    width: 100%;
    height: 100%;
    color: white;
    filter: drop-shadow(3px 6px 3px #5bb2c2);
    border: none;
} #txtUsernameSearch:focus, #userTypeSearch:focus, #btnSearch:focus, #btnUpdate:focus, #btnAdmin:focus {
    outline: none;
} #btnSearch, #btnQuizSearch, #btnAddQuestion {
    background-color: #ffde08;
    border-radius: 15px;
} #btnCreateNewQuiz {
    background-color: #4bd40b;
    border-radius: 15px;
} #btnUpdate {
    background-color: #ffde08;
    border-radius: 10px;
} #btnAdmin {
    background-color: #ff6b08;
    border-radius: 10px;
}

#usersList {
    height: 15em;
    border: 2px solid white;
    border-radius: 5px;
    overflow-y: scroll;
} #usersList table {
    background-color: rgba(255, 255, 255, 0.8);
} #usersList img {
    width: 60%;
}

#btnEdit, #btnBlock, #btnRemove {
    outline: none;
    border: none;
    background-color: transparent;
}

#errorMessage {
    font-family: 'FonteSite';
    font-size: 20px;
    margin-top: 15px;
    color: #ff2e2e;
}

/* Carrossel dos quizzes */
#divQuestions input {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 105%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 50px;
    border-radius: 13px;
    filter: drop-shadow(3px 6px 3px #5bb2c2);
    border: none;
    outline: none;
    color: #757575;
} #divAnswers input {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 105%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 50px;
    border-radius: 13px;
    filter: drop-shadow(3px 6px 3px #5bb2c2);
    border: none;
    outline: none;
    color: #757575;
}