@font-face {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
}

#header {
    width: 100%;
    background-color: transparent;
}

#header .navbar-collapse {
    width: auto;
}

    /* logo+animação+sombra logo */
#logoAlvid {
    max-width: 281px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} #logoAlvid:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

    /* Ícone+animação+sombra Perfil */
#iconPerfil {
    max-width: 101px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} #iconPerfil:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Ícone+texto+animação+sombra "Ranking" */
#iconRanking {
    max-width: 75px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} #iconRanking:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

/* Ícone+texto+animação+sombra "Favoritos" */
#iconFavoritos {
    max-width: 85px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} #iconFavoritos:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

/* Ícone+texto+animação+sombra "Quizzes" */
#iconQuizzes {
    max-width: 100px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} #iconQuizzes:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

/* Ícone+texto+animação+sombra "Jogos" */
#iconJogos {
    max-width: 90px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} #iconJogos:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}
    /* ---FIM DO MENU--- */



#menuLinks,h1,p,h5 {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 25px;
    color: white;
}

a:link , a:visited {
    text-decoration: none;
}

#container{
    background-image: linear-gradient(to top,#00C2E3,#00C2E3 40%);
    background-attachment: scroll;
    height: 100%;
}

/* Botão de ajuda */
.help {
    position: fixed;
    z-index: 3;
}

.helpButton {
    padding: 2em 2em;
    border: 0;
    border-radius: 90%;
    cursor: pointer;
    z-index: 20;
    bottom: 2.3rem;
    right: 2.3rem;
    outline: none;
    background: transparent;
    position: fixed;
  }

.button-image {
    bottom: 2rem;
    right: 2rem;
    position: fixed;
}
body {
    background-image: linear-gradient(to top,#00C2E3,#00C2E3 70%);
    background-attachment: scroll;
}



/* Título comentário */
#titleSection {
    font-size: 65px;
    text-shadow: 0px 5px 5px #585858;
}

/* Block scroll horizontal */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.card{
    /* border-top-left-radius: 10% 20%;
    border-top-right-radius: 10% 20%;
    border-bottom-right-radius: 10% 20%;
    border-bottom-left-radius: 10% 20%; */
    filter: drop-shadow(4px 4px 3px #147272);
    

}

.card-title{
    color: #006FDB;
    font-size: 160%;
}

.card-text{
    font-size: 130%;
}

#comentar{
    font-size:250%;
}

.page-item{
    font-family: 'FonteSite';
    font-size: larger;
    
}

/* Botão Comentar */

.btns{
    text-align: right;
    margin-top: 50px;
    
}

.efeito{
    border: none;
    color:#f5f5f5;
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    line-height: 15px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 100ms ease;
    font-family: 'FonteSite';
}

.efeito-1{
    background-color:#006FDB ;
}

.efeito:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 55px;
    background:rgba(255, 255, 255, 0.432) ;
    border-radius: 10px;
    transition: all 1s ease;
}

.efeito-1:hover:before{
    width: 100%;
}

#backgroundCommentCard {
    width: 18rem;
    background-color: #fafafaea;
    border-radius: 60px;
}