@font-face {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
}

/* body {
    background-image: linear-gradient(to top,#ffffff,#00C2E3 70%);
    background-attachment: scroll;
} */


#header {
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 21;
}

#header .navbar-collapse {
    width: auto;
}

    /* logo+animação+sombra logo */
#logoAlvid {
    max-width: 281px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} #logoAlvid:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

    /* Ícone+animação+sombra Perfil */
#iconPerfil {
    max-width: 101px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} #iconPerfil:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Ícone+texto+animação+sombra "Ranking" */
#iconRanking {
    max-width: 75px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} #iconRanking:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

/* Ícone+texto+animação+sombra "Favoritos" */
#iconFavoritos {
    max-width: 85px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} #iconFavoritos:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

/* Ícone+texto+animação+sombra "Quizzes" */
#iconQuizzes {
    max-width: 100px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} #iconQuizzes:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

/* Ícone+texto+animação+sombra "Jogos" */
#iconJogos {
    max-width: 90px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} #iconJogos:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

#btnMenuMobile{
    border: none;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.3s;
} #btnMenuMobile:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} #btnMenuMobile:active {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(0.9);
}
#divMenuMobile {
    position: fixed;
    z-index: 19;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #00C2E3;
    background: rgba(0,194,227,0.85);
} #divMenuMobileContent {
    position: relative;
    top: 30vh;
} #btnLoginRegister {
    background-color: #ffffff;
    color: #006FDB;
    border: none;
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 140%;
    filter: drop-shadow(0px 7px 3px #0a9cb6);
}
    /* ---FIM DO MENU--- */



#menuLinks,h1,p {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 25px;
    color: white;
}

a:link , a:visited {
    text-decoration: none;
}

#container{
    background-image: linear-gradient(to top,#ffffff,#00C2E3 40%);
    background-attachment: scroll;
    height: 100%;
}

/* Espaço Quizz */
#quizz{
    position: absolute;
    height: 200px;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px
}   /* Quizzes */
#quizCarrossel {
    width: 90%; 
    border-top-left-radius: 15% 20%;
    border-top-right-radius: 15% 20%;
    border-bottom-right-radius: 15% 20%;
    border-bottom-left-radius: 15% 20%;
}

.balao{
    position: relative;
}

/* Espaço de comentário */
#comentarios{
    color: #006FDB;
    text-decoration: underline;
    text-shadow: none;
}

#btnLer{
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 30px;
    color: white;
    width: 120px;  
}

/* Block scroll horizontal */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Movimento zoom nas img dos quizzes */
.hero img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} 
.hero{
    overflow: hidden;
}

.hero:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

         /* Jogo da forca */
.forca img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} 
.forca{
    overflow: hidden;
}

.forca:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

        /* Verdade ou mentira */

.vouf img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} 
.vouf{
    overflow: hidden;
}

.vouf:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Carrossel COVID */
    /* Botões: */
#carouselCovidRight {
    width: 40%;
    float: left;
    filter: drop-shadow(0px 9px 3px #0a9cb6);
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.3s;
} #carouselCovidRight:active {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(0.8);
} #carouselCovidLeft {
    width: 40%;
    float: right;
    filter: drop-shadow(0px 9px 3px #0a9cb6);
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.3s;
} #carouselCovidLeft:active {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(0.8);
} /* Conteúdo de fundo */
#carouselCovidContentBackground {
    width: 55%;
    height: 55vh;
    background-color: #38E169;
    border-radius: 55px;
} #carouselCovidContentImage { 
    border-top-left-radius: 5% 10%;
    border-top-right-radius: 5% 10%;
    border-bottom-right-radius: 5% 10%;
    border-bottom-left-radius: 5% 10%;
} #carouselCovidContentParagraph {
    text-align: center;
    font-size: 130%;
}

/* Carrossel JOGOS */
    /* Botões: */
#carouselGamesContent {
    height: 55vh;
}
#carouselGamesRight {
    width: 30%;
    height: 50%;
    float: right;
    transform: scaleX(-1);
    filter: drop-shadow(0px 9px 3px #0a9cb6);
} #carouselGamesLeft {
    width: 30%;
    height: 50%;
    float: left;
    filter: drop-shadow(0px 9px 3px #0a9cb6);
} #carouselGamesIndicators {
    background-color: transparent;
    border: solid;
    border-width: 2px;
    border-color: #ffffff;
    width: 5%;
    height: 1.4vh;
    opacity: 50%;
    border-top-left-radius: 10% 40%;
    border-top-right-radius: 10% 40%;
    border-bottom-right-radius: 10% 40%;
    border-bottom-left-radius: 10% 40%;
    transition: opacity 0.3s ease-in-out 0s;
} #carouselGamesIndicators:hover {
    opacity: 100%;
} #carouselGamesIndicators:active {
    background-color: #ffffff;
}   /* Jogos */
#gameCarousel {
    width: 100%; 
    border-top-left-radius: 15% 20%;
    border-top-right-radius: 15% 20%;
    border-bottom-right-radius: 15% 20%;
    border-bottom-left-radius: 15% 20%;
}

/* Títulos */
#titleSection {
    font-size: 75px;
    text-shadow: 0px 5px 5px #585858;
}

/* Botão de ajuda */
.help {
    position: fixed;
    z-index: 3;
}

.helpButton {
    border: 0;
    border-radius: 90%;
    cursor: pointer;
    z-index: 20;
    outline: none;
    background: transparent;
    position: fixed;
} .helpButton:active {
    border: none;
} #imgHelpButton {
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.3s;
    width: 7%;
    filter: drop-shadow(1px 5px 4px #47584c)
} #imgHelpButton:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} #imgHelpButton:active {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(0.9);
}

.button-image {
    bottom: 2rem;
    right: 2rem;
    position: fixed;
}

/* Modal Favoritos */
#modalContent {
    background-color: #ffffff;
    opacity: 60%;
} #btnModalFavoritesClose {
    opacity: 100%;
    color: black;
}

/* Alvid-19 personagem */
#divAlvid {
    height: 50vh;
} #caracterAlvid {
    height: 100%;
} #backgroundCloud1 {
    background-image: url('../Images/nuvem01.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: animatedBackground 30s linear infinite alternate;
} #backgroundCloud2 {
    background-image: url('../Images/nuvem02.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: animatedBackground2 35s linear infinite alternate;
} #backgroundCloud3 {
    position: relative;
    left: 24.3px;
    background-image: url('../Images/nuvem03.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: animatedBackground2 50s linear infinite alternate;
} @keyframes animatedBackground {
  from {
    background-position: -50% 0;
  }
  to {
    background-position: 150% 0;
  }
} @keyframes animatedBackground2 {
  from {
    background-position: 150% 0;
  }
  to {
    background-position: -50% 0;
  }
}


/* Responsividade conforme ecrãs e seus tamanhos */
/* XS */
@media screen and (max-width: 540px) {
    #carouselCovidContentParagraph {
        font-size: 100%;
    } #carouselCovidContentBackground {
        height: 35vh;
    } #carouselGames, #carouselGamesContent {
        height: 17vh;
    } #titleSection {
        font-size: 50px;
    }

    #divAlvid {
        height: 40vh;
    }

    /* NUVENS animadas do divAlvid */
    #backgroundCloud1 {
        background-image: url('../Images/nuvem01.png');
        background-size: contain;
        background-repeat: no-repeat;
        animation: animatedBackground 25s linear infinite alternate;
    } #backgroundCloud2 {
        background-image: url('../Images/nuvem02.png');
        background-size: contain;
        background-repeat: no-repeat;
        animation: animatedBackground2 20s linear infinite alternate;
    } #backgroundCloud3 {
        position: relative;
        left: 24.3px;
        background-image: url('../Images/nuvem03.png');
        background-size: contain;
        background-repeat: no-repeat;
        animation: animatedBackground2 35s linear infinite alternate;
    } @keyframes animatedBackground {
      from {
        background-position: -300px 0;
      }
      to {
        background-position: 370px 0;
      }
    } @keyframes animatedBackground2 {
      from {
        background-position: 370px 0;
      }
      to {
        background-position: -300px 0;
      }
    }
}
/* SM */
@media screen and (min-width: 540px) and (max-width: 780px) {
    #carouselCovidContentParagraph {
        font-size: 100%;
    } #carouselCovidContentBackground {
        height: 25vh;
    } #carouselGames, #carouselGamesContent {
        height: 25vh;
    } #titleSection {
        font-size: 60px;
    }

    #divAlvid {
        height: 35vh;
    }
}
/* ipad pro */
@media only screen and (min-width: 1020px) and (max-width: 1030px) and (max-height: 1400px) {
    #carouselCovidContentBackground {
        height: 20em;
    } #carouselGames, #carouselGamesContent {
        height: 20vh;
    } #titleSection {
        font-size: 70px;
    }
}