@font-face {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
}

/* body {
    background-image: linear-gradient(to top,#ffffff,#00C2E3 70%);
    background-attachment: scroll;
} */


#header {
    width: 100%;
    background-color: transparent;
}

#header .navbar-collapse {
    width: auto;
}

    /* logo+animação+sombra logo */
#logoAlvid {
    transition: width 0.25s ease 0s;
} #logoAlvid:hover {
    width: 272px;
}

    /* Ícone+animação+sombra Perfil */
#iconPerfil {
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconPerfil:hover {
    width: 92px;
}

/* Ícone+texto+animação+sombra "Ranking" */
#iconRanking {
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconRanking:hover {
    width: 56px;
}

/* Ícone+texto+animação+sombra "Favoritos" */
#iconFavoritos {
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconFavoritos:hover {
    width: 66px;
}

/* Ícone+texto+animação+sombra "Quizzes" */
#iconQuizzes {
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconQuizzes:hover {
    width: 81px;
}

/* Ícone+texto+animação+sombra "Jogos" */
#iconJogos {
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconJogos:hover {
    width: 71px;
}
    /* ---FIM DO MENU--- */



#menuLinks,h1,p {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 25px;
    color: white;
}

a:link , a:visited {
    text-decoration: none;
}

/* a:hover , a:active {
    size: 50px;
} */

#container{
    background-image: linear-gradient(to top,#ffffff,#00C2E3 40%);
    background-attachment: scroll;
    height: 100%;
}

h1{
    text-shadow: 0px 5px 5px #585858;
}

#quizz{
    position: absolute;
    height: 200px;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px
}

.balao{
    position: relative;
}

#comentarios{
    color: #006FDB;
    text-decoration: underline;
    text-shadow: none;
}

#btnLer{
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 30px;
    color: white;
    width: 120px;
    
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}