@font-face {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
}

body {
    background-image: linear-gradient(to top, #00C2E3, #00C2E3 70%);
    background-attachment: scroll;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

#menuLinks,
p {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 25px;
    color: white;
}

#header {
    width: 100%;
    background-color: transparent;
}

#header .navbar-collapse {
    width: auto;
}

/* logo+animação+sombra logo */
#logoAlvid {
    max-width: 281px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#logoAlvid:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Ícone+animação+sombra Perfil */
#iconPerfil {
    max-width: 101px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#iconPerfil:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Ícone+texto+animação+sombra "Ranking" */
#iconRanking {
    max-width: 75px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#iconRanking:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

/* Ícone+texto+animação+sombra "Favoritos" */
#iconFavoritos {
    max-width: 85px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#iconFavoritos:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

/* Ícone+texto+animação+sombra "Quizzes" */
#iconQuizzes {
    max-width: 100px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#iconQuizzes:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

/* Ícone+texto+animação+sombra "Jogos" */
#iconJogos {
    max-width: 90px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#iconJogos:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

/* ---FIM DO MENU--- */

.form {
    position: absolute;
    border-radius: 62px;
    border: 3px solid white;
    padding: 20px;
    width: 400px;
    height: 445px;
    overflow: hidden;
}

#profile {
    position: absolute;
    top: 100px;
    left: 20px;
    margin-left: 38px;
    width: 300px;
    text-align: left;
    line-height: 30px;
    transition: 0.5s;
}

#edit {
    position: absolute;
    top: 30px;
    left: 430px;
    margin-left: 38px;
    width: 300px;
    transition: 0.5s;
}

#switchEdit {
    position: absolute;
    top: -79px;
    left: 220px;
    background-color: white;
    border-radius: 25px;
    height: 43px;
    padding-left: 8px;
    filter: drop-shadow(0px 5px 3px #0a9cb6);
}

#switchProfile {
    position: absolute;
    top: -10px;
    left: -38px;
    background-color: white;
    border-radius: 25px;
    height: 44px;
    padding-right: 8px;
    filter: drop-shadow(0px 5px 3px #0a9cb6);
}

.image {
    width: 92px;
    height: 92px;
    margin: auto;
    border: hidden;
    border-radius: 25px;
}

#camera {
    float: right;
    position: relative;
    margin-top: 65px;
}

#button {
    position: absolute;
    width: 80px;
    height: 35px;
    border-radius: 15px;
    background-color: white;
    top: 26px;
    right: 214px;
    z-index: -1;
    opacity: 95%;
    transition: transform 0.5s;
}

#txtNewUsername,
#txtNewPassword,
#txtConfirmNewPassword {
    border: 0px;
    padding: 10px 48px;
    border-radius: 13px;
    margin-bottom: 18px;
    font-family: 'FonteSite';
    font-size: 110%;
    filter: drop-shadow(3px 6px 3px #0a9cb6);
    width: 92%;
}

#editMessage {
    font-family: 'FonteSite';
    font-size: 20px;
    margin-top: 15px;
    color: #ff2e2e;
}

::placeholder {
    color: #006FDB;
    opacity: 55%;
    font-family: 'FonteSite';
    font-size: 120%;
}

input:focus {
    outline: none !important;
}

#btnEditProfile {
    background-color: #ffde08;
    margin-top: 10px;
    color: white;
    border-radius: 15px;
    filter: drop-shadow(3px 6px 3px #0a9cb6);
    transform: scale(0.95, 0.95);
    transition: 0.3s;
    height: 45px;
}

#btnLogOut {
    color: white;
    background-color: #ff2e2e;
    border-radius: 15px;
    margin-top: 40px;
    filter: drop-shadow(3px 6px 3px #0a9cb6);
    height: 45px;
    width: 157px;
}

button {
    outline: none;
    background-color: transparent;
    color: #006FDB;
    border: 0;
    font-family: 'FonteSite' !important;
    font-size: 28px !important;
}

button:focus {
    outline: none !important;
}

a:link,
a:visited {
    text-decoration: none;
}

/* a:hover , a:active {
    size: 50px;
} */