@font-face {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
}

body {
    background-image: linear-gradient(to top,#00C2E3,#00C2E3 70%);
    background-attachment: scroll;
}

#menuLinks {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 20px;
    color: white;
}

/* Logo Alvid */
#iconAlvid {
    display: flex;
    position: relative;
    bottom: 20px;
    left: 5px;
}

/* Ícone Perfil */
#iconPerfil {
    display: flex;
    position: relative;
    top: 6px;
    right: 6px;
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconPerfilShadow {
    filter: brightness(0) blur(2px);
    opacity: .2;
    transform: translateY(5px) translateX(5px);
    z-index: -1;
    display: flex;
    position: relative;
    right: 11px;
    bottom: 71px;
} #iconPerfil:hover {
    width: 92px;
}

/* Ícone+texto "Ranking" */
#iconRanking {
    display: flex;
    position: relative;
    top: 8px;
    right: 20px;
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconRankingShadow {
    filter: brightness(0) blur(2px);
    opacity: .2;
    transform: translateY(5px) translateX(5px);
    z-index: -1;
    display: flex;
    position: relative;
    right: 24px;
    bottom: 100px;
} #iconRanking:hover {
    width: 62px;
} #iconTextRanking {
    display: flex;
    position: relative;
    top: 12px;
    right: 28px;
    font-size: 30px;
}

/* Ícone+texto "Favoritos" */
#iconFavoritos {
    display: flex;
    position: relative;
    top: 9px;
    right: 7px;
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconFavoritosShadow {
    filter: brightness(0) blur(2px);
    opacity: .2;
    transform: translateY(5px) translateX(5px);
    z-index: -1;
    display: flex;
    position: relative;
    right: 11px;
    bottom: 101px;
} #iconFavoritos:hover {
    width: 61px;
} #iconTextFavoritos {
    display: flex;
    position: relative;
    top: 9px;
    right: 19px;
    font-size: 30px;
}

/* Ícone+texto "Quizzes" */
#iconQuizzes {
    display: flex;
    position: relative;
    top: 5px;
    right: 49px;
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconQuizzesShadow {
    filter: brightness(0) blur(2px);
    opacity: .2;
    transform: translateY(5px) translateX(5px);
    z-index: -1;
    display: flex;
    position: relative;
    right: 54px;
    bottom: 124px;
} #iconQuizzes:hover {
    width: 81px;
} #iconTextQuizzes {
    display: flex;
    position: relative;
    bottom: 7px;
    font-size: 30px;
    right: 45px;
}

/* Ícone+texto "Jogos" */
#iconJogos {
    display: flex;
    position: relative;
    top: 10px;
    right: 75px;
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconJogosShadow {
    filter: brightness(0) blur(2px);
    opacity: .2;
    transform: translateY(5px) translateX(5px);
    z-index: -1;
    display: flex;
    position: relative;
    right: 80px;
    bottom: 108px;
} #iconJogos:hover {
    width: 73px;
} #iconTextJogos {
    display: flex;
    position: relative;
    top: 4px;
    right: 70px;
    font-size: 30px;
}



a:link , a:visited {
    text-decoration: none;
}