@font-face {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
}

body {
    background-image: linear-gradient(to top,#00C2E3,#00C2E3 70%);
    background-attachment: scroll;
}

#menuLinks {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 20px;
    color: white;
}

/* Logo Alvid */
#iconAlvid {
    display: flex;
    position: relative;
    bottom: 20px;
    left: 5px;
}

/* Ícone Perfil */
#iconPerfil {
    display: flex;
    position: relative;
    top: 6px;
    right: 6px;
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconPerfilShadow {
    filter: brightness(0) blur(2px);
    opacity: .2;
    transform: translateY(5px) translateX(5px);
    z-index: -1;
    display: flex;
    position: relative;
    right: 11px;
    bottom: 71px;
} #iconPerfil:hover {
    width: 92px;
}

/* Ícone+texto "Ranking" */
#iconRanking {
    display: flex;
    position: relative;
    top: 8px;
    right: 20px;
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconRankingShadow {
    filter: brightness(0) blur(2px);
    opacity: .2;
    transform: translateY(5px) translateX(5px);
    z-index: -1;
    display: flex;
    position: relative;
    right: 24px;
    bottom: 100px;
} #iconRanking:hover {
    width: 62px;
} #iconTextRanking {
    display: flex;
    position: relative;
    top: 12px;
    right: 28px;
    font-size: 30px;
}

/* Ícone+texto "Favoritos" */
#iconFavoritos {
    display: flex;
    position: relative;
    top: 9px;
    right: 7px;
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconFavoritosShadow {
    filter: brightness(0) blur(2px);
    opacity: .2;
    transform: translateY(5px) translateX(5px);
    z-index: -1;
    display: flex;
    position: relative;
    right: 11px;
    bottom: 101px;
} #iconFavoritos:hover {
    width: 61px;
} #iconTextFavoritos {
    display: flex;
    position: relative;
    top: 9px;
    right: 19px;
    font-size: 30px;
}

/* Ícone+texto "Quizzes" */
#iconQuizzes {
    display: flex;
    position: relative;
    top: 5px;
    right: 49px;
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconQuizzesShadow {
    filter: brightness(0) blur(2px);
    opacity: .2;
    transform: translateY(5px) translateX(5px);
    z-index: -1;
    display: flex;
    position: relative;
    right: 54px;
    bottom: 124px;
} #iconQuizzes:hover {
    width: 81px;
} #iconTextQuizzes {
    display: flex;
    position: relative;
    bottom: 7px;
    font-size: 30px;
    right: 45px;
}

/* Ícone+texto "Jogos" */
#iconJogos {
    display: flex;
    position: relative;
    top: 10px;
    right: 75px;
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconJogosShadow {
    display: flex;
    filter: brightness(0) blur(2px);
    opacity: .2;
    transform: translateY(5px) translateX(5px);
    z-index: -1;
    display: flex;
    position: relative;
    right: 80px;
    bottom: 108px;
} #iconJogos:hover {
    width: 73px;
} #iconTextJogos {
    display: flex;
    position: relative;
    top: 4px;
    right: 70px;
    font-size: 30px;
}

.form {
    position: absolute;
    border-radius: 62px;
    border: 3px solid white;
    padding: 20px; 
    width: 400px;
    height: 420px;
    overflow: hidden;
}
form {
    top: 140px;
    margin-left: 38px;
    width: 300px;
    position: absolute;
    transition: transform 0.5s;
}

#login {
    left: 15px;
}
#register {
    top: 88px;
    left: 400px;
}

#button {
    position: absolute;
    width: 80px;
    height: 35px;
    border-radius: 15px;
    background-color: white;
    top: 26px;
    right: 214px;
    z-index: -1;
    opacity: 95%;
    transition: transform 0.5s;
}

#userName, #userEmail, #userPw {
    border: 0px;
    padding: 10px 48px;
    border-radius: 13px;
    margin-bottom: 18px;
    filter: drop-shadow(3px 6px 3px #0a9cb6);
    
} ::placeholder {
    color: #006FDB;
    opacity: 55%;
    font-family: 'FonteSite';
    font-size: 25px;

} #date {
    border: 0px;
    padding: 4px 48px;
    border-radius: 13px;
    filter: drop-shadow(3px 6px 3px #0a9cb6);
    font-family: 'FonteSite';
    font-size: 25px;
    color: #74b0eb;
} 

input:focus { 
    outline: none!important;

}

#btnLogin {
    background-color: #F5E400;
    margin-top: 10px;
    color: #00C3EB;
    border-radius: 15px;
}

#btnRegister {
    background-color: #F5E400;
    margin-top: 25px;
    color: #00C3EB;
    border-radius: 15px;
}  

button {
    outline: none;
    background-color: transparent;
    color: #006FDB;
    border: 0;
    font-family: 'FonteSite'!important;
    font-size: 28px!important;
} button:focus {
    outline: none!important;
}
a:link , a:visited {
    text-decoration: none;
}

/* a:hover , a:active {
    size: 50px;
} */

