@font-face {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
}

body {
    background-image: linear-gradient(to top,#00C2E3,#00C2E3 70%);
    background-attachment: scroll;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#menuLinks,p {
    font-family: 'FonteSite';
    src: url("../Fonts/MouseMemoirs-Regular.ttf");
    font-size: 25px;
    color: white;
}

#header {
    width: 100%;
    background-color: transparent;
}

#header .navbar-collapse {
    width: auto;
}

    /* logo+animação+sombra logo */
#logoAlvid {
    transition: width 0.25s ease 0s;
} #logoAlvid:hover {
    width: 272px;
}

    /* Ícone+animação+sombra Perfil */
#iconPerfil {
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconPerfil:hover {
    width: 92px;
}

/* Ícone+texto+animação+sombra "Ranking" */
#iconRanking {
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconRanking:hover {
    width: 56px;
}

/* Ícone+texto+animação+sombra "Favoritos" */
#iconFavoritos {
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconFavoritos:hover {
    width: 66px;
}

/* Ícone+texto+animação+sombra "Quizzes" */
#iconQuizzes {
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconQuizzes:hover {
    width: 81px;
}

/* Ícone+texto+animação+sombra "Jogos" */
#iconJogos {
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
} #iconJogos:hover {
    width: 71px;
}


@media (max-width: 700px) {
    .form {
        transform: scaleX(0.9) scaleY(0.9);
    }
}
@media (max-width: 400px) {
    .form {
        transform: scaleX(0.8) scaleY(0.8);
    }
}
@media (max-width: 300px) {
    .form {
        transform: scaleX(0.65) scaleY(0.65);
    }
}

/* border branca dos formulários */
.form {
    position: absolute;
    margin-top: 16px;
    border-radius: 62px;
    border: 3px solid white;
    padding: 20px; 
    width: 400px;
    height: 320px;
    overflow: hidden;
    transition: 0.5s;
    
}
form {
    top: 110px;
    margin-left: 38px;
    width: 300px;
    position: absolute;
    transition: transform 0.5s;
}

#login {
    left: 20px;
}
#register {
    top: 88px;
    left: 400px;
}
#btnLoginSwitch {
    position: absolute;
    left: 28.5%;
}
#btnRegSwitch {
    position: absolute;
    right: 28.5%;
}
#button {
    position: absolute;
    width: 80px;
    height: 35px;
    border-radius: 15px;
    background-color: white;
    top: 26px;
    right: 214px;
    z-index: -1;
    opacity: 95%;
    filter: drop-shadow(0px 5px 3px #0a9cb6);
    transition: transform 0.5s;
}

#userName, #userEmail, #userPw {
    border: 0px;
    padding: 10px 48px;
    border-radius: 13px;
    margin-bottom: 18px;
    filter: drop-shadow(3px 6px 3px #0a9cb6);
    
} ::placeholder {
    color: #006FDB;
    opacity: 55%;
    font-family: 'FonteSite';
    font-size: 25px;

} #date {
    border: 0px;
    padding: 4px 48px;
    border-radius: 13px;
    filter: drop-shadow(3px 6px 3px #0a9cb6);
    font-family: 'FonteSite';
    font-size: 25px;
    color: #74b0eb;
} 

input:focus { 
    outline: none!important;

}

#btnLogin {
    background-color: #ffde08;
    margin-top: 10px;
    color: white;
    border-radius: 15px;
    filter: drop-shadow(3px 6px 3px #0a9cb6);
} #btnLogin:hover {
    transform: scale(0.95, 0.95);
    transition: 0.3s;
}

#btnRegister {
    background-color: #ffde08;
    margin-top: 25px;
    color: white;
    border-radius: 15px;
    filter: drop-shadow(3px 6px 3px #0a9cb6);
}  #btnRegister:hover {
    transform: scale(0.95, 0.95);
    transition: 0.3s;
}

button {
    outline: none;
    background-color: transparent;
    color: #006FDB;
    border: 0;
    font-family: 'FonteSite'!important;
    font-size: 28px!important;
} button:focus {
    outline: none!important;
}
a:link , a:visited {
    text-decoration: none;
}

/* a:hover , a:active {
    size: 50px;
} */

